.leftSideBar
{
    background-color: #ddb18c;
    width: 20%;
}
.headBar
{
    background-color: #ddb18c;
    height: 50px;
}
/* left head part  */
.icon button
{
    background-color: transparent;
    border:none;
}
.icon svg
{
    font-size: x-large;
}

/* leftNavBar part  */
.leftNavBar ul
{
    margin: 15px;
}
.leftNavBar ul li
{
    margin-top: 10px;
}
.leftNavBar li:hover
{
    background-color:#c3c9c83d ;
    border-radius: 10px;
}
.leftNavBar ul li a
{
display: flex;
justify-content: center;
gap: 10px;
}

/* right side  */
.rytSide{
    width: 100%;
    gap: 0px;
}
.rytSide .head
{
    height: 100px;
    padding: 30px;
    
}
.rytSide .image img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.allDataBox
{
    background-color: #f9f9f6;
}
.userData h6,p
{
    margin: 0%;
}
/* filter  */
.filter
{
padding-right: 20px;
padding-top: 10px;
}
.filter button
{
    border:none;
    background-color: transparent;
}
.filter span
{
    color: white;
    font-size: x-large;
    background-color: #ddb18c;
    border-radius: 50%;
    padding: 10px;
}

/* dataBox */
.box
{
    height: 100px;
    border-radius: 10px;
    padding:25px;
    gap: 5px;
    background-color:#ffffff;
    transition-property: padding;
    transition-duration: 2ms;
    transition-delay: 1ms;
}
.box .line
{
    width: 3px;
    background-color: #ddb18c;
    height: 70px;
}
.box .sign
{
    color: rgb(249, 250, 251);
    background-color: #ddb18c;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box .sign span
{
    font-size: xx-large;
}

.box .data h6
{
    color: #aba8a5;
}
.box:hover{
    background-color: white;
}


/* tractions */
/* table part */
.tableData
{
    width: 50%;
    background-color: white;
    box-shadow: white;
}
table
{
    border: white;
    padding: 10px;
}
.tData .icon
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbe4ea;
}
.tData svg{
    width: 20px;
    color: #e23665;
}
.tData1 .icon
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e5f8ee;
}
.tData1 svg{
    width: 20px;
    color: #77d096;
}
tr .result
{
    color: #ddb18c;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.transer_table_data h6,p
{
margin: 0%;
}
.footer{
    height: 65px;
    }


















/* .navBar li
{
    margin: 10px 0px 0px 0px;
}
.navBar li a
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.navBar{
    padding: 0px;
}
.navBar li:hover
{
    background-color: #c3c9c83d; 
    border-radius:10px ;
}
.dropdownMenu
{
    background-color: #ddb18c;
}
.dropdownMenu li a:hover
{
    background-color: #c3c9c83d; 
} */